/*     
    Name: _welcome.scss    
    Author: Zakaria El Khachia
    Client: Zakaria Elk
*/

#home {
  .side-visual {
    position: absolute;
    width: 768px;
    height: 768px;
    top: 30%;
    right: 0px;
    opacity: 0;
    transition: all 1s ease;
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$max-laptop} {
      width: 600px;
      height: 600px;
    }

    @media #{$max-tablet} {
      top: 90%;
      width: 560px;
      height: 560px;
      transform: translateY(-70%);
    }

    @media #{$max-phone} {
      width: 420px;
      height: 420px;
    }

    &.on {
      opacity: 1;
    }

    img {
      width: 100%;
      height: auto;
      right: -100px;
    }

    canvas {
      height: 100%;
      display: block;
    }

    &.scrolled {
      top: 40%;
      right: -80px;
      transform: translateY(-40%);
    }
  }

  #home-welcome {
    width: 100%;
    height: 100vh;
    margin-bottom: 180px;

    @media #{$max-phone} {
      margin-bottom: 140px;
    }

    .welcome-content {
      @include size(100%, 100%);
      display: table;

      .welcome-statement {
        width: 100%;
        padding: 0 3rem;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(0, -50%, 0);

        @media #{$max-tablet} {
          top: 50%;
        }

        @media #{$max-phone} {
          top: 35%;
          padding: 0 2rem;
        }

        div {
          position: relative;
          overflow: hidden;

          &.dynamic-welcome {
            height: 120px;
            @extend .size-1;
            font-family: $FontBold;
            letter-spacing: -3px;
            margin-bottom: 0rem;

            @media #{$max-laptop} {
              height: 100px;
            }

            @media #{$max-tablet} {
              height: auto;
              overflow: visible;
              margin-bottom: 0;
            }

            @media #{$max-phone} {
              font-size: 36px;
              margin-bottom: 0;
              letter-spacing: -1px;
            }
          }

          &.static-welcome {
            height: 90px;
            @extend .size-2;
            font-family: $FontLight;
            letter-spacing: -3px;
            margin-bottom: 0.2rem;

            @media #{$max-laptop} {
              height: 70px;
            }

            @media #{$max-tablet} {
              height: auto;
              overflow: visible;
            }

            @media #{$max-phone} {
              max-width: 300px;
              font-size: 32px;
              margin-bottom: 0.4rem;
              letter-spacing: -2px;
              line-height: 1.2;
            }
          }

          span {
            position: absolute;
            opacity: 0;
            transform: translate3d(0, 100px, 0);
            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

            @media #{$max-tablet} {
              position: relative;
            }
          }
        }

        .discover {
          position: relative;
          font-family: $FontRegular;
          text-decoration: underline;
          display: block;
          opacity: 0;
          transform: translate3d(0, 0, 0);
          transition: all 0.3s ease;

          &:hover {
            transform: translate3d(0.2rem, 0, 0) skewX(-10deg);

            @media #{$max-tablet} {
              transform: translate3d(0rem, 0.6rem, 0) skewX(-10deg);
            }
          }

          @media #{$max-tablet} {
            transform: translate3d(0rem, 0.6rem, 0);
          }
        }

        &.on {
          span {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}
