/*     
    Name: _work.scss    
    Author: Zakaria El Khachia
    Client:
*/

#work-list {
  .boxed {
    @media #{$max-phone} {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* Project Container */
  .project-container {
    width: 100%;
    max-width: 1280px;
    margin: 200px auto;
    display: flex;
    align-items: center;

    @media #{$max-tablet} {
      margin: 100px auto;
    }

    @media #{$max-phone} {
      margin: 60px auto;
    }

    @media #{$max-tablet} {
      display: block;
    }

    &:first-child {
      padding-top: 140px;
    }

    &.inverted {
      flex-direction: row-reverse;

      @media #{$max-tablet} {
        flex-direction: unset;
      }
    }

    /* Project Visual */
    .project-visual {
      width: 60%;
      height: 100%;
      margin: auto;
      display: block;
      position: relative;
      box-sizing: content-box;
      cursor: pointer;

      @media #{$max-tablet} {
        width: 100%;
      }

      @media #{$max-phone} {
        padding-bottom: 0;
        transition: $t-all;
      }

      a {
        @include size(100%, 100%);
        display: flex;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          z-index: 1;
          background-color: $white;
          transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

          @media #{$max-tablet} {
            display: none;
          }
        }

        &.on {
          &:after {
            width: 0;
          }

          h3 {
            opacity: 1;
          }
        }
      }

      img {
        position: relative;
        transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);

        &.img-1 {
          opacity: 1;
          @media #{$max-tablet} {
            @include size(100%, 100%);
            display: block;
            object-fit: cover;
          }
        }

        &.img-2 {
          opacity: 0;
          position: absolute;
          @media #{$max-tablet} {
            display: none;
          }
        }

        &:hover {
        }
      }

      canvas {
        padding-bottom: 30px;
        position: absolute;
        top: 0;
        left: 0;

        @media #{$max-tablet} {
          display: none;
        }
      }

      /* Hover Status on Work Item */

      &:hover {
        canvas {
        }
      }
    }

    /* Project Text */

    .project-text {
      width: 40%;
      padding-left: 3rem;
      opacity: 0;
      transform: translate3d(0, 30px, 0);
      transition: transform 0.6s ease, opacity 0.3s ease 0.1s;

      &.on {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
      }

      @media #{$max-laptop} {
        padding-left: 2.5rem;
      }

      @media #{$max-tablet} {
        width: 100%;
        padding: 1rem 0;
      }

      @media #{$max-phone} {
        padding: 1.3rem 1rem;
      }

      .project-title {
        @extend .size-3;
        color: $black;
        bottom: 1.75rem;
        left: 2rem;
        text-transform: capitalize;
        cursor: pointer;
      }

      .desc {
        @extend .size-5;
        max-width: 360px;
        margin: 1rem 0 1.5rem;

        @media #{$max-tablet} {
          max-width: 60%;
          margin: 0.5rem 0 1.5rem;
        }

        @media #{$max-phone} {
          max-width: 100%;
        }
      }

      .project-tags {
        font-size: 14px;
        max-width: 100%;
        font-style: italic;
        color: #8b8b8b;

        a {
          color: #8b8b8b;
          &:hover {
            color: $black;
          }
        }

        @media #{$max-phone} {
          font-size: 12px;
        }
      }

      .project-action {
        padding: 0.4rem 0.7rem;
        background: $black;
        color: $white;
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:after {
          content: ">";
          position: absolute;
          visibility: hidden;
          vertical-align: middle;
          margin-left: 0.6rem;
        }
      }
    }

    /* project-container hover */

    &:hover,
    &:focus {
      .project-visual {
        img {
          &.img-1 {
            opacity: 0;
            @media #{$max-tablet} {
              opacity: 1;
            }
          }

          &.img-2 {
            opacity: 1;

            @media #{$max-tablet} {
              opacity: 0;
            }
          }
        }
      }

      .project-text {
        .project-action {
          padding-right: 2rem;

          &:after {
            visibility: visible;
            display: inline-block;
            animation: slideChevron 1.2s ease-out infinite;
          }
        }
      }
    }
  }
}
